container {
    display: flex;
    align-items: flex-start;
    
}
/*Throwing my hands up on this one. I feel like my struggle is understanding the axis and 
how it relates to the parent child relationship.*/

.container1 {
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-start;
    flex-grow: 1;
    height: 600px;
    width: 600px;
    position: fixed;
}
.lite-orange {
    background-color: lightsalmon;
    width: 40px;
    height: 40px;
}
.orange {
    background-color: orangered;
    width: 40px;
    height: 40px;
}
.container2 { /*I swear, I've plugged everything in this to make that 2nd column*/
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    position: relative;
    
    


    
}